body{
    /*background-image: linear-gradient(rgb(254, 76, 76), rgb(0, 108, 9));*/
    background-image: linear-gradient(to bottom, #f13232, #f55823, #f57611, #f39100, #edab00, #dfb600, #d0c000, #beca00, #a2c900, #83c701, #5dc515, #1fc227);
    background-size: 100%;
    background-repeat: no-repeat;
}

.container {
    background-color: rgba(26, 24, 24, 0.214);
}

mark.green {
    background: rgba(39, 230, 96, 0.657);
    display: inline;
}

mark.red {
    background: rgba(202, 36, 36, 0.657);
    display: inline;
}

pre {
    white-space: pre-wrap;
}

hr {
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.ready {
    position: absolute;
    width: 300px;
    z-index: 15;
    top: 30%;
    left: 50%;
    margin: 0 0 0 -150px;
    background-color: rgba(207, 207, 207, 0.959);
    text-align: center;
    border: 5px solid #f57611;

    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 400%;
}